<div class="row">
  <div class="col-xs-12">
    <h4><span class="glyphicon glyphicon-heart-empty"></span> Current Status <small class="pull-right">{{clock}}</small></h4>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-xs-12">
    <div ng-show="currState == 'Idle'">
      <center>
          <img class="ct-state" src="images/idle.png">
        </br/><br/>
          <h4 class="text-success">Idle <small>since {{currStateTime}}</small></h4>
      </center>
    </div>
    <div ng-show="currState == 'Fall'">
      <center>
          <img class="ct-state" src="images/fall.png">
        </br/><br/>
          <h4 class="text-danger">Fall, go help! <small>at {{currStateTime}}.</small></h4>
      </center>
    </div>
    <div ng-show="currState == 'Moving'">
      <center>
          <img class="ct-state" src="images/walk.png">
        </br/><br/>
          <h4 class="text-success">Walking <small>since {{currStateTime}}</small></h4>
      </center>
    </div>
    <div ng-show="currState == 'Aggitated'">
      <center>
          <img class="ct-state" src="images/aggitated.png">
        </br/><br/>
          <h4 class="text-danger">Aggitated, go help! <small>since {{currStateTime}}</small></h4>
      </center>
    </div>
  </div>
</div>
<br/><br/>

<toaster-container toaster-options="{'time-out': 3000}"></toaster-container>


