<div class="row">
  <div class="col-xs-12">
    <h4><span class="glyphicon glyphicon-plus"></span> Progression</h4>
  </div>
</div>
<br/>

<div class="row">
  <div class="col-xs-6">
    <h5>Fall</h5>
    <div class="ct-spacer"></div>
    <highchart id="chart1" config="chartConfig1" class="ct-chart"></highchart>
  </div>

  <div class="col-xs-6">
    <h5>Aggitation</h5>
    <div class="ct-spacer"></div>
    <highchart id="chart2" config="chartConfig2" class="ct-chart"></highchart>
  </div>

  <div class="col-xs-6">
    <h5>Moving</h5>
    <div class="ct-spacer"></div>
    <highchart id="chart3" config="chartConfig3" class="ct-chart"></highchart>
  </div>

  <div class="col-xs-6">
    <h5>Idle & Sleep</h5>
    <div class="ct-spacer"></div>
    <highchart id="chart4" config="chartConfig4" class="ct-chart"></highchart>
  </div>
</div>
<br/>